////
/// @group style.scss
////

// сбор всех утилит (классов хелперов) в одном файле
// так как эти блоки меняются очень редко
// это позволит снизить нагрузку на редер основных стилей
// за счет уменьшения количества лишних действий
// -------------------------------------------------

$sides: (
		t: top,
		r: right,
		b: bottom,
		l: left
);
$axis: (
		tb: (top, bottom),
		lr: (left, right),
	);

$props: (
		m: margin,
		p: padding
	);




// helpers



