////
/// @group _blocks/ui
////

/// lozad
.lozad {
	transition: opacity 0.2s linear;
	opacity: 1;
	width: 100%;

	&.is-start {
		opacity: 0.5;
	}

	&.is-ready {
		opacity: 1;
		width: auto;
		height: auto;
	}
}
