.single-portfolio {
  font-family: "Fira Sans";
  color: #ebeff0;
  h3 {
    color: #333;
  }
  a {
    font-size: 16px;
    font-size: 1.6rem;
    color: #3498db;
    &hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}
