////
/// @group _blocks/
////

/// Description
.button {
	position: relative;
	padding: rem(5px) rem(20px);
	height: rem(50.5px);
	max-width: 100%;
	text-decoration: none !important; // sass-lint:disable-line no-important
	outline: none;
	box-sizing: border-box;
	cursor: pointer;
	letter-spacing: 0.5px;
	user-select: none;
	display: inline-flex;
	align-items: center;
	text-transform: uppercase;
	vertical-align: top;
	text-align: center;

	@include media(ms) {
		padding: rem(5px) rem(22px);
	}

	@include media(lg) {
		padding: rem(5px) rem(40px);
	}

	&__text {
		font-family: map-get($font-family, default);
		font-size: rem(14px);
		line-height: 1.3em;
		font-weight: 700;

		.button--default &,
		.button--yellow & {
			color: map-get($colors, black);
		}

		.button--transparent & {
			color: map-get($colors, white);
		}
	}

	&--default {
		border: 1px solid rgba(map-get($colors, black), 0.1);
		background-color: transparent;

		&:hover,
		&:focus {
			border-color: #000;
		}

		&:active {
			border-color: rgba(map-get($colors, black), 0.5);
		}
	}

	&--transparent {
		border: 1px solid rgba(map-get($colors, white), 0.3);
		background-color: transparent;

		&:hover,
		&:focus {
			border-color: map-get($colors, white);
		}

		&:active {
			border-color: rgba(map-get($colors, white), 0.5);
		}
	}

	&--yellow {
		border: none;
		background-color: #ffdb4b;
		transition: background 0.18s ease;

		&:hover,
		&:focus {
			background: #ffce4b;
		}

		&:active {
			background: #ffbd4b;
		}
	}

	&--wide {
		display: block;
		width: 100%;

		@include media(lg) {
			padding: rem(5px) rem(10px);
		}
	}
}
