////
/// @group _blocks/
////

/// bwidget

.bwidget {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	&:hover::before {
		top: -50%;
		right: 50%;
		content: '';
		bottom: -50%;
		width: 150%;
		position: absolute;
		z-index: 0;
	}

	&__icon {
		left: 1px;
		top: 1px;
		width: auto;
		height: auto;
		bottom: 1px;
		right: 1px;
		transition-delay: 0.2s;
	}

	.no-touchevents &:hover &__icon--telegram,
	.touchevents &.is-open &__icon--telegram {
		transition-delay: 0s;
		transform: translate3d(-115%, 0, 1px);

		@include media(def) {
			transform: translate3d(-95%, 55%, 1px);
		}
	}

	.no-touchevents &:hover &__icon--facebook,
	.touchevents &.is-open &__icon--facebook {
		transition-delay: 0s;
		transform: translate3d(-45%, -110%, 1px);

		@include media(def) {
			transform: translate3d(-95%, -55%, 1px);
		}
	}
}
