////
/// @group _blocks/
////

/// Description
.circle-btn {
	position: relative;
	cursor: pointer;
	background: currentColor;
	border-radius: 50%;
	transition: 0.2s ease;
	border: none;
	outline: none;
	display: flex;
	padding: 0;

	&:hover,
	&-wrapper:hover & {
		background: #fff;
		box-shadow: inset 0 0 0 1px;

		svg {
			fill: currentColor;
		}
	}

	svg {
		margin: auto;
		max-width: 50%;
		max-height: 50%;
		fill: #fff;
	}

	&--default {
		width: rem(50);
		height: rem(50);
	}

	&--wide {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&--binotel {
		color: #8d5047;
	}

	&--facebook {
		color: #0084ff;
	}

	&--telegram {
		color: #08c;
	}

	&--chat {
		color: #FF6550;
	}

	&--play {
		color: #de0000;
	}
}
