////
/// @group _blocks/text/
////

/// bg-text
.bg-text {
	position: relative;

	@include media (def) {
		min-height: 31rem;
	}

	&__container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		overflow: hidden;

		@include media(def) {
			left: -4.5vw;
			right: -4.5vw;
		}

		@include media(xl) {
			left: rem(-100);
			right: rem(-100);
		}
	}

	&__item {
		display: none;
		position: absolute;
		text-transform: uppercase;
		font-family: map-get($font-family, wzm);
		font-weight: 700;
		font-size: 14.58vw;
		letter-spacing: 0.05em;
		color: rgba(map-get($colors, black), 0.05);
		line-height: 0.8em;
		z-index: -1;
		white-space: nowrap;

		@include media(def) {
			display: block;
		}

		@include media(1920px) {
			font-size: 280px;
		}

		&--after {
			content: attr(data-after);
			top: 0.85em;
			left: 41.7%;
			margin-left: -0.05em;
		}

		&--before {
			content: attr(data-before);
			top: 0;
			right: 41.7%;
			margin-right: -0.05em;
		}
	}
}
