////
/// @group _blocks/text
////

/// text
.text-b11 {
	font-size: 11px;
	line-height: 1.2em;
	color: rgba(map-get($colors, black), 0.7);

	&--light {
		color: rgba(map-get($colors, black), 0.4);
	}
}

.text-w11 {
	font-size: 11px;
	line-height: 1.2em;
	color: rgba(map-get($colors, white), 0.7);

	&--space {
		letter-spacing: 0.2em;
	}
}

.text-b16 {
	font-size: rem(16);
	line-height: em(24, 16);
	color: rgba(map-get($colors, black), 0.7);

	> * { // sass-lint:disable-line no-universal-selectors
		&:first-child {
			margin-top: 0;
		}
	}
}

.text-b14 {
	font-size: rem(14);
	line-height: 1.3em;
	color: rgba(map-get($colors, black), 0.7);
}

.text-y20 {
	font-size: rem(20);
	font-weight: 700;
	line-height: 1.5em;
	letter-spacing: 0.05em;
	color: map-get($colors, link-hover);

	&--light {
		color: rgba(map-get($colors, link-hover), 0.7);
	}
}
