////
/// @group _settings/
////

/// Карта цветов
/// @type {Map}
/// @prop {Color} $colors.link
$colors: (
	// Основные
	black: #000,
	white: #fff,
	gray: #868686,
	bg: #272937,
	text: #234,
	accent: #fcfcca,
	border: #ccc,
	seo: #ababae,
	// Ссылки
	link: #e6cd88,
	link-visited: #5806b0,
	link-hover: #ffce4b,
	link-active: #ffbd4b,
	// Цветовые статусы
	primary: #f26622,
	secondary: #313131,
	success: #ebba10,
	info: #00b3fe,
	warning: #c89600,
	danger: #f00
);
