////
/// @group _settings/
////

/// Карта брейкпоинтов для переборов в циклах
/// @type Map
$gutters: (
	none: 0,
	sm: rem(5px),
	ms: rem(10px),
	md: rem(15px),
	def: rem(20px),
	lg: rem(25px),
	xl: rem(30px),
	mg: rem(40px),
	dt: rem(50px)
);
