////
/// @group _settings/
////

/// Разделитель
/// @type string
$sep: "-";

/// Разделитель БЭМ элементов,
/// как правило используется в генерируемых миксинах.
/// Использовать вручную не рекомендуется, так как вызовет худшую читаемость кода
/// @type String
$sep-el: "__";

/// Разделитель БЭМ модификаторов,
/// как правило используется в генерируемых миксинах.
/// Использовать вручную не рекомендуется, так как вызовет худшую читаемость кода
/// @type String
$sep-mod: "--";
