////
/// @group _blocks/
////

/// Описание
.container {
	max-width: 1700px;
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;

	> * { // sass-lint:disable-line no-universal-selectors
		box-sizing: border-box;
	}

	& & {
		padding-left: 0;
		padding-right: 0;
	}

	&--tiny {
		max-width: 980px;
	}

	&--full {
		max-width: 100%;
	}

	@include clearfix();
}
