////
/// @group _blocks/
////

/// fix-panel

.fix-panel {
	position: fixed;
	z-index: 10;
	bottom: 0.5rem;

	@include media(def) {
		z-index: 3;
		width: 4.5vw;
		min-height: 28rem;
		top: rem(100px);
		bottom: rem(100px);
	}

	@include media(xl) {
		top: rem(150px);
		width: rem(100px);
		bottom: rem(150px);
	}

	&--left {
		left: 0.5rem;
		@include media(def) {
			left: 0;
		}
	}

	&--right {
		right: 0.5rem;
		@include media(def) {
			right: 0;
		}
	}

	&__item {
		@include media(def) {
			position: absolute;
			left: 50%;
			width: 12px;
			height: 12px;
			transform: rotate(-90deg);
		}

		&--top {
			top: 0;
			transform-origin: bottom left;
			margin-left: -3px;

			@include media(xl) {
				margin-left: -2px;
			}
		}

		&--bottom {
			bottom: 0;
			transform-origin: bottom left;
			margin-left: 6px;
		}
	}

	&__balancer {
		position: absolute;
		top: 0;

		.fix-panel__item--top & {
			right: 0;
		}

		.fix-panel__item--bottom & {
			left: 0;
		}
	}

	&__btn {
		position: relative;
		height: rem(46);
		width: rem(46);

		@include media(def) {
			position: absolute;
			margin: rem(-23) 0 0 rem(-23);
			top: 50%;
			left: 50%;
		}

		@include media(xl) {
			height: rem(60);
			width: rem(60);
			margin: rem(-30) 0 0 rem(-30);
		}
	}
}

.promocode {
	display: flex;
	align-items: center;
	font-size: 11px;
	line-height: 12px;
	color: map-get($colors, black);
	text-transform: uppercase;
	font-weight: 700;
	white-space: nowrap;
	letter-spacing: 2px;

	&__number {
		display: block;

		&--is-load {
			white-space: nowrap;
			overflow: hidden;
			animation: typing 1.5s steps(6, end);
		}
	}
}

@keyframes typing {
	0% {
		width: 0;
	}

	100% {
		width: 48px;
	}
}

.soc-link {
	white-space: nowrap;

	&__item {
		text-decoration: none;
		font-size: 11px;
		line-height: 12px;
		padding: 0.5rem 0;
		color: rgba(map-get($colors, black), 0.7);
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: 700;
		margin: -0.5rem 0 0 1rem;

		&:hover {
			color: map-get($colors, link-hover);
		}

		&:active {
			color: map-get($colors, link-active);
		}
	}
}

