////
/// @group _blocks/
////

/// Основная обертка страницы
.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;
	padding-top: rem(50px);
	z-index: 1;

	@include media(def) {
		padding-left: 4.5vw;
		padding-right: 4.5vw;
		padding-top: rem(70px);
	}

	@include media(xl) {
		padding-left: rem(100px);
		padding-right: rem(100px);
		padding-top: rem(100px);
	}
}
