nav{ 
	max-height: 80px; 
	overflow: hidden; 	
	@extend .transition-500; }

.top-bar{ 
	position: absolute; 
	background: #fff; 
	width: 100%; 
	@extend .transition-500; 
	line-height: 0; 
	top: 0; }

.top-bar.nav-sticky .nav-menu{ padding-top: 32px;  }

.overlay-bar{ background: none; }
.overlay-bar .has-dropdown:after{ color: #fff; }

.nav-menu{ padding-top: 40px; padding-right: 40px; }


@media all and (max-width: 1050px){
	.menu li{ 
		margin-right: 32px; 
		}
}
@media all and (max-width: 768px){
	.offscreen-menu{ overflow: visible !important; position: relative !important; }
	.offscreen-menu .offscreen-toggle i{ color: $color-heading !important; }
	.admin-bar .offscreen-menu.top-bar {
		top: 0 !important;
	}
}