.top-bar{ 
	position: absolute; 
	background: #fff; 
	width: 100%; 
	z-index: 10; 
	@extend .transition-500; 
	line-height: 0; 
	top: 0; }

.overlay-bar{ background: none; }
.overlay-bar .has-dropdown:after{ color: #fff; }