////
/// @group _blocks/
////

/// v-list
.v-list {
	line-height: 1em;

	&__title {
		font-size: 11px;
		line-height: 1.4em;
		margin-bottom: 1.74em;
		font-weight: 700;

		> a {
			text-decoration: none;
			color: map-get($colors, black);

			&:hover {
				color: map-get($colors, link-hover);
			}
		}
	}

	&__item {
		margin-bottom: 0.45rem;
	}

	&__link {
		display: inline-block;
		vertical-align: top;
		text-decoration: none;
		outline: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}
