////
/// @group _blocks/block
////

/// buttons-fix

.buttons {
	&-fix {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: rem(60);
		display: flex;
		align-items: center;
		justify-content: center;
		background: map-get($colors, white);
		transition: transform 0.32s ease-out;
		z-index: 3;

		&.is-hidden {
			transform: translateY(100%);
		}

		@include media(xl) {
			height: rem(78);
		}
	}
}
