////
/// @group _blocks/block
////

/// gmap

.gmap {
	position: relative;
	padding-top: 70%;
	background: map-get($colors, border);

	@include media(md) {
		padding-top: 38%;
	}

	&__holder {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

.info-window {
	max-width: 350px;
	padding: 1rem 0 1rem 1rem;
}
