////
/// @group _blocks/block/
////

/// price

.price {
	position: relative;
	font-family: map-get($font-family, wzm);
	font-weight: 700;
	text-transform: uppercase;

	&__text {
		position: absolute;
		bottom: 0.3em;
		font-size: rem(12);
		line-height: 1em;
		color: map-get($colors, black);

		@include media(sm) {
			font-size: rem(15);
		}

		@include media(def) {
			font-size: rem(20);
		}

		&--left {
			right: 95%;
		}

		&--right {
			left: 100%;
		}
	}

	&__value {
		display: inline-block;
		vertical-align: top;
		position: relative;
	}

	&__number {
		font-size: rem(30);
		line-height: 1.2em;
		color: rgba(map-get($colors, black), 0.2);

		@include media(sm) {
			font-size: 6vw;
			line-height: 0.95em;
		}

		@include media(1920px) {
			font-size: rem(96);
		}
	}
}
