////
/// @group _blocks/block/
////

/// roi

.roi {
	&__percent {
		font-size: rem(30);
		font-weight: 700;
		letter-spacing: 0.05em;
		line-height: 1.1em;
		color: map-get($colors, white);

		@include media(def) {
			font-size: rem(40);
		}
	}

	&__border {
		position: relative;

		&::after,
		&::before {
			position: absolute;
			top: 10%;
			content: '';
			height: 80%;
			width: 1px;
			background: rgba(map-get($colors, white), 0.3);
		}

		&::after {
			right: 0;
		}

		&::before {
			left: 0;
		}
	}
}
