////
/// @group _blocks/
////

/// seo-block

.seo-block {
	position: relative;
	height: 100%;
	min-height: 15rem;

	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		padding-right: 0.5rem;

		&::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}

		&::-webkit-scrollbar-track {
			background: #52545f;
			box-shadow: inset 4px 0 0 map-get($colors, bg), inset -4px 0 0 map-get($colors, bg);

		}

		&::-webkit-scrollbar-thumb {
			width: 10px;
			background: #52545f;
			cursor: pointer;
			transition: background 0.2s ease-in-out;

			&:hover {
				background: #878a9c;
			}
		}

		> *:first-child {  // sass-lint:disable-line no-universal-selectors
			margin-top: 0;
		}

	}
}
