////
/// @group _blocks/
////

.user-block {
	position: relative;
	line-height: 0;
	display: block;
	z-index: 2;

	.no-mobiledevice &--invert {
		transition: 0.3s ease-in-out;
		filter: invert(1);

		&:hover {
			filter: none;

			.user-block__info {
				opacity: 1;
			}
		}

		.user-block__info {
			opacity: 0;
			transition: 0.3s ease-in-out;
		}
	}

	.no-mobiledevice &--cartoon {

		&:hover {
			.user-block__info {
				opacity: 1;
			}
		}

		.user-block__info {
			opacity: 0;
			transition: 0.3s ease-in-out;
		}
	}

	&:not(.swiper-slide-active) > .swiper-lazy-preloader {
		opacity: 0;
	}

	&__info {
		position: absolute;
		left: 10%;
		bottom: 5%;
		width: 80%;
	}

	&__cartoon {
		position: absolute;
		left: 0;
		top: 0;
		transition: 0.3s ease-in-out;

		.user-block:hover & {
			opacity: 0;
		}
	}
}
