////
/// @group _blocks/block/
////

/// video-case

.video-case {
	position: relative;
	overflow: hidden;
	background-size: 100%;
	margin: -1px 0;

	&__player {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
