footer {
  padding: 80px 0;
  overflow: hidden;
  background-image: -webkit-linear-gradient(left, #252b35 0%, #252b35 28.05%, #3b3131 100%);
  background-image: linear-gradient(left, #252b35 0%, #252b35 28.05%, #3b3131 100%);
}
footer.footer__contact {
  background: #DBDBD4 none repeat scroll 0 0;
  color: #e8f1f7;
  font-size: 14px;
  line-height: 25px;
  height: auto !important;
  min-height: 100%;
  padding: 13% 0 30px;
  position: relative;
  .bg-left,
  .bg-right {
    height: 100%;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 10;
  }
  .bg-left {
    background: #252525 none repeat scroll 0 0;
    left: 0;
  }
  .bg-right {
    background: #e6b903 none repeat scroll 0 0;
    right: 0;
    width: 100%;
    z-index: 8;
  }
  .menu-socials {
    position: relative;
    z-index: 20;
  }
  .menu-socials {
    left: 5%;
    text-align: center;
    width: 90%;
    a {
      color: #7d7d7d;
      display: inline-block;
      margin: 0 35px;
      font-size: 20px;
      vertical-align: middle;
    }
  }
}
footer.footer__ui {
  background-color: #1b364e;
  font-family: "Fira Sans";
  color: #ebeff0;
  .h-label {
    @include h-label;
  }
  h2 {
    font-family: "Fira Sans";
    margin-top: 12px;
    margin-bottom: 30px;
    font-size: 64px;
    font-size: 6.4rem;
    line-height: 1.2em;
    font-weight: 700;
    color: #ffffff;
    &:after {
      @include divider;
      margin-bottom: 25px;
      width: 80px;
      background-color: #fdbb07;
    }
  }
  p.info {
    display: block;
    margin-bottom: 35px;
    font-size: 20px;
    font-size: 2rem;
    line-height: 1.4em;
    font-weight: 400;
    letter-spacing: 0.6;
    color: #dcdcdc;
  }
  .button {
    font-size: 1.6rem;
  }
  .social {
    padding: 100px 0 20px;
    font-size: 16px;
    font-size: 1.6rem;
    margin-left: 42px;
    a {
      color: #3498db;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
    ol,
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        float: left;
        margin-left: 0;
        margin-right: 15px;
        &:first-child {
          &:before {
            display: block;
            content: "";
            position: absolute;
            top: 96.5%;
            left: 15px;
            width: 20px;
            height: 1px;
            background-color: #fdbb07;
          }
        }
      }
    }
  }
}
footer.footer__portfolio {
  background-color: #1b364e;
  font-family: "Fira Sans";
  color: #ebeff0;
  margin-top: 40px;
}
