footer {
    background: #DBDBD4 none repeat scroll 0 0; 
    color: #DBDBD4;
    font-size: 14px;
    line-height: 25px;
    padding: 160px 0 30px;
    position: relative;
    
    .bg-left, .bg-right {
        height: 100%;
        position: absolute;
        top: 0;
        width: 50%;
        z-index: 10;
    }
    
    .bg-left {
        background: #252525 none repeat scroll 0 0;
        left: 0;
        //  transform: translateX(-100%);
    }

    .bg-right {
        background: #e6b903 none repeat scroll 0 0;
        right: 0;
        //   transform: translateX(-100%);
        width: 100%;
        z-index: 8;
    }
    .contact-action, .site-info, .menu-socials {
          position: relative; 
          z-index: 20; 
    }
    .menu-socials {
    left: 5%;
    text-align: center;
    width: 90%;
     a {
        color: #7d7d7d;
        display: inline-block;
        margin: 0px 35px;
        font-size: 20px;
        vertical-align: middle;
        }
}
   
}