header {
    position: relative;
    overflow: hidden;
    background-size: cover;

    .container {
        font: webpro-reg;
        position: relative;
        z-index: 3;
    }

    .logo {
        max-width: 150px;
        display: inline-block;
    }

    .btn {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
}
.page-header {
    margin: 0 auto;
    padding: 10px 100px;
    background-color: #ebf1f5;
    border-bottom: 1px solid #d5dadf;
    padding-bottom: 0;
    width: 90%;
    border-radius: 0 0 150px 150px;
  //  background-image: url(../img/header__bg-single.png);
  //  background: -webkit-linear-gradient(left, #323a46 0%, #3d4a5f 28.05%, #6d515c 100%);
  //  background: #2eb4e7;
  //  background-size: cover;
  //  position: relative;
  //  background-position: 50% 50%;
  // background: #3a7db1;
  // background: -moz-linear-gradient(-45deg,#3a7db1 0,#41a7ce 50%,#47cbe7 100%);
  //background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#3a7db1),color-stop(50%,#41a7ce),color-stop(100%,#47cbe7));
  //background: -webkit-linear-gradient(-45deg,#3a7db1 0,#41a7ce 50%,#47cbe7 100%);
  //background: -o-linear-gradient(-45deg,#3a7db1 0,#41a7ce 50%,#47cbe7 100%);
  //background: -ms-linear-gradient(-45deg,#3a7db1 0,#41a7ce 50%,#47cbe7 100%);
  //background: linear-gradient(135deg,#3a7db1 0,#41a7ce 50%,#47cbe7 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#29a575),to(#2797e4));
    background-image: -webkit-linear-gradient(top,#29a575,#2797e4);
    background-image: linear-gradient(to bottom,#29a575,#2797e4);
    -webkit-box-shadow: 0 10px 25px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.15);
    box-shadow: 0 10px 25px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.15);

  //  &:after {
  //    @include background-opacity
  //  }

    h1 {
        font: 800 64px "Fira Sans";
        letter-spacing: 0.1pt;
        color: #fff;
        margin: 80px 0 0;
        line-height: 1.1;
      &:after {
          @include divider;
            margin-top: 10px;
            margin-bottom: 0px;
            height: 4px;
            width: 100px;
            background-color: #fdbb07;
        }
    }

    .logo {
        font-family: ProximaNova-Extrabld, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        color: #fdbb07;
        font-size: 50px;
        margin-bottom: 12px;
    }

    .lead {
        padding-top: 25px;
        font-family: "Fira Sans";
        display: block;
        margin-bottom: 40px;
        font-size: 2rem;
        line-height: 1.4em;
        font-weight: 100;
        letter-spacing: 0.1pt;
        color: #000000;
    }

    span {
        padding-top: 25px;
        font-family: "Fira Sans";
        display: block;
        margin-bottom: 80px;
        font-size: 2rem;
        line-height: 1.4em;
        font-weight: 100;
        letter-spacing: 0.1pt;
        color: #fff;
    }
    br {
        display: none;
    }

    .background-image-holder {
        height: 100%;
        top: -20%;
    }
}
.page-header__menu {
    width: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    background: #00a7e7;
    padding: 15px 0;
    position: fixed;

    &:active:after,
    &:hover:after {
        display: table;
        clear: both;
        content: '';
    }

    .logo {
        display: inline-block;
        vertical-align: middle;
        width: 156px;
        font-family: "Fira Sans";

        a {
            color: #fff;
            font-size: 20px;
            display: block;
            padding: 7px 0;
        }
    }

    .nav {
        float: right;
        cursor: default;
        font-family: "Fira Sans";

        a {
            color: #fff;
            font-size: 18px;
            display: block;
            padding: 7px 12px;
        }

        .nav-collapse {
            display: inline-block;
            margin-right: 12px;
            vertical-align: top;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: inline-block;

                    .link {
                        text-decoration: none;
                        position: relative;

                    .icon {
                      display: inline-block;
                      width: 18px;
                      height: 21px;
                      font-size:20px;
                      vertical-align: middle;
                      margin-left: 0;
                      margin-right: 2px;
                      line-height: 18px;
                    }
                    .icon.icon_mail {
                        height: 16px;
                        line-height: 10px;
                        margin-right: 6px;
                    }

                        &:active:after,
                        &:hover:after {
                            opacity: 0.6;
                            left: 12px;
                            right: 12px;
                        }

                        &:after {
                            position: absolute;
                            content: '';
                            height: 2px;
                            left: 50%;
                            right: 50%;
                            background: #fff;
                            bottom: 6px;
                            opacity: 0;
                            -webkit-transition: left 0.1s,right 0.1s,opacity 0.1s;
                            transition: left 0.3s,right 0.3s,opacity 0.3s;
                        }
                    }
                }
            }
        }

        .contact {
            display: inline-block;
            padding: 5px 10px 5px 5px;
            border: 2px solid #fff;
            border-radius: 3px;
            background-clip: padding-box;

            .icon {
                display: inline-block;
                height: 20px;
                line-height: 18px;
                margin-right: 0;
                vertical-align: middle;
                width: 16px;
                &:hover {
                color: #3ddc3c;
                }
                &:after {
                color: #3ddc3c;
                }

            }

            &:hover {
                color: #00a7e7;
                background: #fff;
                text-decoration: none;
                -webkit-transition: background 0.2s,color 0.2s;
                transition: background 0.2s,color 0.2s;
            }

            &:after {
                position: absolute;
                content: '';
                height: 2px;
                left: 50%;
                right: 50%;
                background: #fff;
                bottom: 6px;
                opacity: 0;
                -webkit-transition: left 0.1s,right 0.1s,opacity 0.1s;
                transition: left 0.3s,right 0.3s,opacity 0.3s;
            }
        }
    }
}
.single-portfolio__header {
    position: relative;
    height: 200px;
    margin-top: 74px;
    padding: 40px 0 0;
    font-family: ProximaNova-Extrabld,sans-serif;
    color: #000;
    background-image: url("../img/header__bg-single3.png");
    background-color: #fff;
    background-position: 50% 50%;
    background-size: inherit;
    border-bottom: 1px solid #ccd2d3;

    .single-portfolio__header-i {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 25px;
    }

    .single-portfolio__name {
        font-size: 40px;
        line-height: 1em;
    }

    .single-portfolio__description {
        max-width: 900px;
        margin: 60px 0 30px;
        font-size: 24px;
        font-weight: 300;
        line-height: 34px;
    }

    .single-portfolio__breadcrumbs {
        margin: 0 0 22px;
        font: 16px/16px "Fira Sans";
    }

    .single-portfolio__breadcrumbs-item {
        display: inline-block;
        margin: 0 6px 0 0;
        vertical-align: top;

        &:after {
            margin: 0 0 0 6px;
            content: '/';
        }
    }

    .single-portfolio__breadcrumbs-item a {
        color: #000;
        transition: color 0.15s ease-out;
    }

    .single-portfolio__name {
        font-size: 56px;
        line-height: 1em;
    }

    .single-portfolio__buttons {
        position: absolute;
        top: 96px;
        right: 40px;
    }
}
.services {
    border-bottom: 1px solid #d5dadf;

    h1 {
        text-align: left;
    }
}
.portfolio {
    background-image: -webkit-linear-gradient(left, #e74d41 0%, #e64643 28.05%, #f17e27 100%);
}

