//
// Template Variables
// --------------------------------------------------

$short-transition: 300ms;
$medium-transition: 500ms;
$long-transition: 2000ms;


$standard-space: 64px;
$standard-radius: 25px;
// Colors

$color-heading: #333333;
$color-primary: #000;
$color-secondary-1:  #2c3e50;
$color-secondary-2:   #3498db;
.text-white { color: #fff; }

.font-body {  font-family: $Fira-Sans-Hair-Italic;}
.font-heading {  font-family: $webpro-reg;}
.alt-font {
  font-family: $webpro;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;}


.divide60 {padding-top:60px}
.divi50 {padding:50px 0}

@mixin standard-radius{ border-radius: $standard-radius; }
@mixin background-opacity {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(165, 165, 165, 0.9);
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
@mixin divider {
    content: "";
    display: block;
    width: 25%;
    height: 3px;
    background: #179bdf;
    margin-bottom: 10px;
}
@mixin h2-index {
        font-family: "Fira Sans";
        margin-top: 12px;
        margin-bottom: 30px;
        font-size: 64px;
        font-size: 6.4rem;
        line-height: 1.2em;
        font-weight: 700;
        color: #ffffff;
      }
@mixin h-label {
        display: block;
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 1.4em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.21em;
        color: #fdbb07;
    }


    @mixin font-face($style-name, $file, $family, $weight:"", $style:"") {
            $filepath: "../fonts/" + $family + "/" + $file;
            @font-face {
                font-family: "#{$style-name}";
                src: url($filepath + ".eot");
                src: local("#{$style-name}");
                src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
                     url($filepath + ".woff") format('woff'),
                     url($filepath + ".ttf")  format('truetype'),
                     url($filepath + ".svg#" + $style-name + "") format('svg');
                     @if $weight != "" {
                font-weight: #{$weight};
                     }
                     @if $style != "" {
                font-style: #{$style};
                     }
            }
        }
