//
// Template Variables
// --------------------------------------------------

$short-transition: 300ms;
$medium-transition: 500ms;
$long-transition: 2000ms;


$standard-space: 64px;
// Colors

$color-heading: #333333;
$color-primary: #000;
$color-secondary-1:  #2c3e50;
$color-secondary-2:   #3498db;
.text-white { color: #fff; }

.font-body {  font-family: $Fira-Sans-Hair-Italic;}
.font-heading {  font-family: $webpro-reg;}
.alt-font {  
  font-family: $webpro;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;}

$standard-radius: 25px;
@mixin standard-radius{ border-radius: $standard-radius; }

@mixin divider {
            content: "";
            display: block;
            width: 25%;
            height: 3px;
            background: #179bdf;
            margin-bottom: 10px;
        }

@mixin h2-index {
        font-family: "Fira Sans";
        margin-top: 12px;
        margin-bottom: 30px;
        font-size: 64px;
        font-size: 6.4rem;
        line-height: 1.2em;
        font-weight: 700;
        color: #ffffff;
              &:after {
                @include divider;
                margin-bottom: 25px;
                width: 80px;
                background-color: #fdbb07;
        }
        }

// Fonts


@include font-face(webpro, '../../style/fonts/web-pro', 300, normal);
@include font-face(webpro-reg, '../../style/fonts/webpro-regular', 300, normal);
@include font-face(ProximaNovaT-Thin, '../../style/fonts/ProximaNovaT-Thin', 300, normal);
@include font-face(MonoCondensed-Bold, '../../style/fonts/MonoCondensed-Bold', 300, normal);
@include font-face(PTSerif-Regular, '../../style/fonts/PTSerif-Regular', 300, normal);
@include font-face(PTSansPro-Caption, '../../style/fonts/PTSansPro-Caption', 300, normal);
@include font-face(ProximaNova-Regular, '../../style/fonts/ProximaNova-Regular', 300, normal);
@include font-face(ProximaNova-Extrabld, '../../style/fonts/Futura', 300, normal);
@include font-face(Gothic725BlkBT, '../../style/fonts/Gothic725BlkBT', 300, normal);

@mixin webpro {  font-family: 'webpro', arial, sans-serif;}
@mixin webpro-reg {  font-family: 'webpro-reg', arial, sans-serif;}
@mixin ProximaNovaT-Thin {  font-family: 'ProximaNovaT-Thin', arial, sans-serif;}
@mixin MonoCondensed-Bold {  font-family: 'MonoCondensed-Bold', arial, sans-serif;}
@mixin PTSerif-Regular {  font-family: 'PTSerif-Regular', arial, sans-serif;}
@mixin PTSansPro-Caption {  font-family: 'PTSansPro-Caption', arial, sans-serif;}
@mixin ProximaNova-Regular {  font-family: 'ProximaNova-Regular', arial, sans-serif;}
@mixin ProximaNova-Extrabld {  font-family: 'ProximaNova-Extrabld', arial, sans-serif;}
@mixin Gothic725BlkBT {  font-family: 'Gothic725BlkBT', arial, sans-serif;}

@mixin fira-sans {
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-Hair.eot');
    src: local('Fira Sans Hair'),
         url('../../style/fonts/eot/FiraSans-Hair.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-Hair.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@mixin Fira-Sans-Hair-Italic {
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-HairItalic.eot');
    src: local('Fira Sans Hair Italic'),
         url('../../style/fonts/eot/FiraSans-HairItalic.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-HairItalic.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-HairItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-UltraLight.eot');
    src: local('Fira Sans UltraLight'),
         url('../../style/fonts/eot/FiraSans-UltraLight.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-UltraLight.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-UltraLightItalic.eot');
    src: local('Fira Sans UltraLight Italic'),
         url('../../style/fonts/eot/FiraSans-UltraLightItalic.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-UltraLightItalic.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('../../style/fonts/eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-Light.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-LightItalic.eot');
    src: local('Fira Sans Light Italic'),
         url('../../style/fonts/eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-LightItalic.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('../../style/fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-Regular.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-Italic.eot');
    src: local('Fira Sans Regular Italic'),
         url('../../style/fonts/eot/FiraSans-Italic.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-Italic.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'),
         url('../../style/fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-Medium.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-MediumItalic.eot');
    src: local('Fira Sans Medium Italic'),
         url('../../style/fonts/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-MediumItalic.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-SemiBold.eot');
    src: local('Fira Sans SemiBold'),
         url('../../style/fonts/eot/FiraSans-SemiBold.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-SemiBold.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-SemiBoldItalic.eot');
    src: local('Fira Sans SemiBold Italic'),
         url('../../style/fonts/eot/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-SemiBoldItalic.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'),
         url('../../style/fonts/eot/FiraSans-Bold.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-Bold.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-BoldItalic.eot');
    src: local('Fira Sans Bold Italic'),
         url('../../style/fonts/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-BoldItalic.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-ExtraBold.eot');
    src: local('Fira Sans ExtraBold'),
         url('../../style/fonts/eot/FiraSans-ExtraBold.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-ExtraBold.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-ExtraBoldItalic.eot');
    src: local('Fira Sans ExtraBold Italic'),
         url('../../style/fonts/eot/FiraSans-ExtraBoldItalic.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-ExtraBoldItalic.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-Heavy.eot');
    src: local('Fira Sans Heavy'),
         url('../../style/fonts/eot/FiraSans-Heavy.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-Heavy.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../../style/fonts/eot/FiraSans-HeavyItalic.eot');
    src: local('Fira Sans Heavy Italic'),
         url('../../style/fonts/eot/FiraSans-HeavyItalic.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraSans-HeavyItalic.woff') format('woff'),
         url('../../style/fonts/ttf/FiraSans-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


@font-face{
    font-family: 'Fira Mono';
    src: url('../../style/fonts/eot/FiraMono-Regular.eot');
    src: local('Fira Mono'),
         url('../../style/fonts/eot/FiraMono-Regular.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraMono-Regular.woff') format('woff'),
         url('../../style/fonts/ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../../style/fonts/eot/FiraMono-Bold.eot');
    src: local('Fira Mono Bold'),
         url('../../style/fonts/eot/FiraMono-Bold.eot') format('embedded-opentype'),
         url('../../style/fonts/woff/FiraMono-Bold.woff') format('woff'),
         url('../../style/fonts/ttf/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



// MetaPro-Black
// http://lp-derksteiner.ru/


@font-face {
   font-family: "MetaPro-Black";
   src: url('../font/metapro-black.eot');
   src: url('../font/metapro-black.eot?#iefix') format('embedded-opentype'),
        url('../font/metapro-black.svg#MetaPro-Black') format('svg'),
        url('../font/metapro-black.ttf') format('truetype'),
        url('../font/metapro-black.woff') format('woff');
}
@font-face
{
   font-family: "MetaPro-Medium";
   src: url('../font/MetaPro-Medium.eot');
   src: url('../font/MetaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/MetaPro-Medium.svg#MetaPro-Medium') format('svg'),
        url('../font/MetaPro-Medium.ttf') format('truetype'),
        url('../font/MetaPro-Medium.woff') format('woff');
}
@font-face
{
   font-family: "PF DinDisplay Pro Light";
   src: url('../font/pfdindisplaypro-light.eot');
   src: url('../font/pfdindisplaypro-light.eot?#iefix') format('embedded-opentype'),
        url('../font/pfdindisplaypro-light.svg#PFDinDisplayPro-Light') format('svg'),
        url('../font/pfdindisplaypro-light.ttf') format('truetype'),
        url('../font/pfdindisplaypro-light.woff') format('woff');
}
@font-face
{
   font-family: "PF DinDisplay Pro";
   src: url('../font/pfdindisplaypro-reg.eot');
   src: url('../font/pfdindisplaypro-reg.eot?#iefix') format('embedded-opentype'),
        url('../font/pfdindisplaypro-reg.svg#PFDinDisplayPro-Regular') format('svg'),
        url('../font/pfdindisplaypro-reg.ttf') format('truetype'),
        url('../font/pfdindisplaypro-reg.woff') format('woff');
}
@font-face
{
   font-family: "PF DinDisplay Pro Medium";
   src: url('../font/pfdindisplaypro-med.eot');
   src: url('../font/pfdindisplaypro-med.eot?#iefix') format('embedded-opentype'),
        url('../font/pfdindisplaypro-med.svg#PFDinDisplayPro-Medium') format('svg'),
        url('../font/pfdindisplaypro-med.ttf') format('truetype'),
        url('../font/pfdindisplaypro-med.woff') format('woff');
}
